<div class="article-preview">
  <div class="article-meta">
    <img alt="avatar" class="avatar" src="assets/img/avatar.jpg" />
    <div class="info">
      <a [routerLink]="'/@' + author?.username" class="author">{{ author?.username }}</a>
      <p class="date">{{ article.creationTime | date: "MMMM d, y" }}</p>
    </div>
    <button *ngIf="!checkFavoritedArticle; else unfavorite" class="btn favorite-btn btn-sm ms-auto" (click)="favoriteArticle()">
      <i class="fa-solid fa-heart"></i> {{article.favorited}}
    </button>
    <ng-template #unfavorite>
      <button class="btn unfavorite-btn btn-sm ms-auto" (click)="unfavoriteArticle()">
        <i class="fa-solid fa-heart"></i> {{article.favorited}}
      </button>
    </ng-template>
  </div>
  <div [routerLink]="['/article', article.slug]" class="preview-link">
    <h1 class="title">
      {{ article.title }}
    </h1>
    <p class="description">
      {{ article.description  }}
    </p>
    <div class="footer">
      <span class="read-more">Read more...</span>
      <div class="tags">
        <ng-container *ngFor="let tag of article.tags"
          ><span class="tag-default">{{tag}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
