<div class="banner" *ngIf="!(authUser$ | async)">
  <h1 class="title">conduit</h1>
  <p class="description">A place to share your knowledge</p>
</div>
<div
  class="news-feed row"
  [style.marginTop]="!(authUser$ | async) ? '232px' : ''"
>
  <div class="col-9">
    <a class="tab">Global Feed</a>
    <hr />
    <ng-container *ngFor="let article of articles">
      <app-article [article]="article"></app-article>
    </ng-container>
  </div>
  <div class="col-3 side-bar">
    <p>Popular Tags</p>
    <div>
      <ng-container *ngFor="let tag of trendingTags">
        <a class="tag-default trending-tag">{{ tag }}</a>
      </ng-container>
    </div>
  </div>
</div>
