footer {
  height: 66px;
  background-color: #3A4551;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
