<header>
  <a routerLink="" class="logo">conduit</a>
  <ul class="nav-bar">
    <ng-container *ngFor="let item of navBarMenus; let idx = index">
      <li
        [routerLink]="item.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i [class]="item.icon + ' me-1'"></i>{{ item.title }}
      </li>
    </ng-container>
    <li
      [routerLink]="['@' + currentUser.username]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ currentUser.username }}
    </li>
  </ul>
</header>
